[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
grpcio = "==1.25.0"
grpcio-tools = "==1.25.0"
protobuf = "==3.11.1"
six = "==1.13.0"

[requires]
python_version = "3.7"
